$base-font-size: 16px;

// Colors
$black: #000;
$primary: #ff6464;
$dark: #21243d;
$light-1: #e0e0e0;

$dark-1: #142850;
$light: #8695a4;

$secondary-light: #edf7fa;
$secondary: #00a8cc;
//fonts
$font-path: "../fonts/";

//layout
$breakpoint-lg: 855px;

$breakpoints: (
  "sm": "(max-width: 600px)",
  "md": "(max-width: 991px)",
  "lg": "(max-width: 1200px)",
);
