.intro {
  min-height: calc(100vh - rem(60px));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: rem(15px);
  padding-bottom: rem(15px);
  box-sizing: border-box;
  @media screen and (max-width: rem(600px)) {
    flex-direction: column-reverse;
    justify-content: center;
  }
  #{&}__lead {
    display: block;
  }

  #{&}__item {
    width: 100%;
    @media screen and (max-width: rem(600px)) {
      text-align: center;
    }
    &.intro__item__align {
      text-align: right;
      @media screen and (max-width: rem(600px)) {
        text-align: center;
      }
    }
  }

  #{&}__hdl {
    font-family: "Heebo Bold", sans-serif;
    color: $dark;
    font-size: rem(44px);
    line-height: 1.4;
    @include mq("sm") {
      font-size: rem(32px);
    }
  }

  #{&}__text {
    font-family: "Heebo Regular", sans-serif;
    color: $dark;
    font-size: rem(16px);
    line-height: 1.4;
    margin-bottom: rem(32px);
  }

  #{&}__avatar {
    width: 100%;
    height: auto;
    max-width: rem(243px);
    max-height: rem(243px);
    box-shadow: -8px 15px 0 0 #edf7fa;
    border-radius: 50%;
    //  @media screen and (max-width: rem(600px)) {

    //   }
  }
}
